opencv-python
alabaster==0.7.9
astroid==1.4.8
Babel==2.3.4
backports-abc==0.4
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
certifi==2016.9.26
configparser==3.5.0
cycler==0.10.0
Cython==0.24.1
dask==0.11.1
decorator==4.0.10
docutils==0.12
entrypoints==0.2.2
enum34==1.1.6
functools32==3.2.3.post2
h5py==2.6.0
imagesize==0.7.1
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
isort==4.2.5
jedi==0.9.0
Jinja2==2.8
joblib==0.10.2
jsonschema==2.5.1
jupyter-client==4.4.0
jupyter-core==4.2.0
-e git+https://github.com/Lasagne/Lasagne@61b1ad14d9960a2e20ff2f06ea3f30e81a21441e#egg=Lasagne
lazy-object-proxy==1.2.2
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.5.2
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
networkx==1.11
numpy==1.11.2
pathlib2==2.1.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.4.1
prompt-toolkit==1.0.7
psutil==4.3.1
ptyprocess==0.5.1
pudb==2016.2
pyflakes==1.3.0
Pygments==2.1.3
pylint==1.6.4
pyparsing==2.1.10
pypng==0.0.18
python-dateutil==2.5.3
pytz==2016.7
PyYAML==3.12
pyzmq==16.0.0
QtAwesome==0.3.3
qtconsole==4.2.1
QtPy==1.1.2
rope==0.10.3
scikit-image==0.12.3
scikit-learn==0.18
scipy==0.18.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.8
spyder==3.0.0
-e git+https://github.com/Theano/Theano@1b5d4fc48512e8da01a4d3634a310c4cd3b5d49e#egg=Theano
toolz==0.8.0
tornado==4.4.2
traitlets==4.3.1
urwid==1.3.1
wcwidth==0.1.7
wrapt==1.10.8
